body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1327px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:744px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:744px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:1323px;
  visibility:hidden;
  word-wrap:break-word;
}
